.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#logo {
  min-width: 50%;
  width: 50%;
  margin-top: -10%;
}

#container_background {
  width: 100%;
  padding: 2px;
  border: 1px solid goldenrod;
  position: absolute;
  z-index: 1;
  top: 525px;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 700px;
  border: 2px solid wheat;
  background-image: url("/Media/img/elden-ring-poster-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel h2 {
  text-align: center;
  border: 2px solid silver;
  color: wheat;
  background-color: black;
  width: 10%;
  min-width: fit-content;
  margin-top: 10%;
}

.flex_display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.flex_description {
  border: 2px solid silver;
  padding: 20px;
  background-color: black;
  text-align: center;
  max-width: 40%;
  margin: 10%;
}

.flex_card {
  display: flex;
  flex-direction: column;
  margin: 10%;
}

#class_picture {
  border: 2px solid silver;
  background-color: black;
  max-width: 100%;
}

.flex_button {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.arrow_button {
  width: 100px;
  background-color: black;
}

.arrow_img {
  width: 100%;
}

body {
  background-color: black;
}
